<DOCTYPE! html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/css/style.css?version=3">
    <title>NeoAmerica</title>
  </head>
  <body>
    <div id="news-aggregator-feed">
      News Aggregator Feed will go here
    </div><!-- end news-aggregator-feed div -->
    <nav>
      <div class="logo">NeoAmerica</div><!-- end logo div> -->
      <div class="search">Search here</div><!-- end search -->
      <div id="menu">Home Chambers of Thought(when this is clicked the link is replaced with 5 links for each section) | Logout</div>
    </nav>

    <header>

      <div id="chambers-of-thought-gallery">
	Chambers of Thought
      </div><!-- end chambers-of-thought-gallery div -->
    </header>
    <div class="main-article">
      Main Article
    </div><!-- end main article div -->
    <div id="timeline">
      Timeline
    </div><!-- end timeline div -->
    <div id="sidebar">
      Sidebar
    </div><!-- end sidebar div -->
  </body>
</html>
